ConnectionStrings__BookHiveDB=Server=(localdb)\\MSSQLLocalDB;Database=BookHiveDB;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True
Admin__Email=admin@bookhive.local
Admin__Password=ChangeMe123
